body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/Result/Image/snow.jpg'); /* Add your image URL here */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container {
    max-width: 850px;
    padding: 45px;
    background-color: rgba(255, 255, 255, 0.6); /* Background color with opacity */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1 {
    text-align: center;
}
#result {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Transparent background */
    border-radius: 20px;
}
.file-icon {
    font-size: 24px;
    margin-right: 10px;
}

.progress-bar-container {
    position: relative;
}
.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 20px;
}
.progress-bar-fill {
    background-color: #007bff;
    height: 20px;
    border-radius: 5px;
}
.progress-text {
    position: absolute;
    top: 0;
    right: -37px;
    margin-top: 3px;
    font-weight: bold;
}
